@import '~styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-weight: 500;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px 0;

  .intro {
    display: flex;
    align-items: center;
    gap: 0 10px;

    .name {
      color: white;
    }

    .shortIntro {
      font-size: 12px;
      font-weight: 600;
      color: #7B798F;
    }
  }

  .text {
    color: $font-white;
  }
}
