.container {
  height: 70px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 0 24px;
}

.right {
  display: flex;
  align-items: center;
  gap: 0 24px;

  * {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .timezone {
    display: flex;
    align-items: center;
    gap: 0 5px;
    color: #7B798F;
  }
}
